.nav-link, h1{
    color: #8a59e4;
}
.nav-link.active, button {
    color: #fdfbfb !important; /* Cambiar el color del texto */
    background-color: #8a59e4 !important; /* Cambiar el color de fondo */
}